* {
  --background: #26282a;
  --foreground: #090809;
  --primary: #e40712;
  --text: #dedede;

  box-sizing: border-box;

  font-family: sans-serif;
  font-size: 18pt;
}

body {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "selected-texture texture-bar"
    "tool-bar map-view";
  width: 100vw;
  height: 100vh;
  margin: 0;

  background: var(--background);

  color: var(--text);
}

#selected-texture {
  grid-area: selected-texture;
  display: block;
  width: 100%;
  height: 100%;
}

#texture-bar {
  grid-area: texture-bar;
  display: flex;
  
  background: var(--foreground);
}
#quick-textures {
  display: flex;
  align-items: center;
  padding: 14px;
}
#quick-textures > img:not(:last-child) {
  margin-right: 14px;
}
#quick-textures > img:hover {
  outline: 1px solid var(--primary);
}

#tool-bar {
  grid-area: tool-bar;
  display: flex;
  flex-direction: column;
  padding: 1em 0;

  background: var(--foreground);
}
#tool-selector {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#tool-selector .tool-icon {
  padding: 10px
}
#tool-selector .tool-icon:not(:last-of-type) {
  margin-bottom: 10px;
}
#tool-selector .tool-icon:hover {
  background: rgba(255, 255, 255, 0.2);
}
#tool-selector .tool-icon.active {
  background: var(--primary);
}
#x-coordinate,
#y-coordinate {
  margin-top: 0.5em;

  text-align: center;
}

.canvas-container {
  position: relative;
}
.canvas-container canvas {
  position: absolute;
}
