.ToolSelector {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.ToolSelector button {
  background: none;
  padding: 10px;
  border: none;
}
.ToolSelector button:not(:last-of-type) {
  margin-bottom: 10px;
}
.ToolSelector button:hover {
  background: rgba(255, 255, 255, 0.2);
}
.ToolSelector button.active {
  background: var(--primary);
}
