.App {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    'selected-texture texture-bar'
    'tool-bar map-view';
  width: 100%;
  height: 100%;

  background: var(--background);
  color: var(--text);
}

.App-selected-texture {
  grid-area: selected-texture;
  display: block;
  width: 100%;
  height: 100%;
}
